*.[oa]
*.so
*.obj
*.lib
*.exp
*.pdb
*.dll
*.exe
*.manifest
*.dmp
*.swp
*.xip
.tags
luajit-mt-report.zip
src/.lj-test-build-signature
.darling-*
.ns-test/
.devcontainer/osxcross/
.devcontainer/features/darling/prefix/
.devcontainer/features/darling/prefix.workdir/
release-artifacts/
.release-home/
.release-wine/
/build/
/cmake-build-*/
